swiper-container .swiper-button-disabled {
    position: absolute;
    display: none;
    transition: all;
}
.text-wrapper{
  max-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.swiper{
  width: 100px;
}