swiper-container .swiper-button-disabled {
    position: absolute;
    display: none;
    transition: all;
}

.shadow-top{
  box-shadow: 0px -3px 30px -15px rgba(0,0,0,0.1);
}

.shadow-top-for-total-harga{
  /* box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.1); */
  box-shadow: 0px -2px 15px -3px rgba(0,0,0,0.1);
}

.text-wrapper{
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.text-wrapper-location-profile{
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-wrapper-location{
  max-width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-wrapper-promo-terlaris{
  max-width: 170px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-promo-warung-carousel{
  max-width: 170px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.swiper{
  width: 100px;
}

/* Style to hide the spin buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

#NavLikeButton.active #NavLikeIcon {
    fill: #F9832A; /* Color when the checkbox is checked */
}

#BtnLikeButton.active #BtnLikeIcon {
  fill: #F9832A; /* Color when the checkbox is checked */
}

#BtnLikeButton.active #BtnLikeIcon {
  fill: #F9832A; /* Color when the checkbox is checked */
}